@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

html, body {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #0D224E;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  width: 69.4%;
  padding-top: 69.4%;
  -webkit-transform: translate(45%, 11%);
          transform: translate(45%, 11%);
  border-radius: 50%;
  background: rgba(239, 57, 89, 0.4);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.bgr {
  height: 100%;
}
.bgr::before {
  content: "";
  z-index: -10;
  position: absolute;
  left: 0;
  top: 181px;
  border-radius: 770px;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  width: 53.47%;
  padding-top: 42.84%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 20px 24px 13px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.menu__link {
  color: #0D224E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
}
.menu__link:hover {
  opacity: 0.7;
}

.cover {
  position: relative;
  overflow: hidden;
  padding: 290px 0 155px 0;
}
.cover__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7rem;
}
.block__title {
  font-size: 48px;
  line-height: 1.21;
  font-weight: 500;
}
.block__text {
  font-size: 18px;
}
.block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  padding: 5px;
  width: 156px;
  color: #FFF;
  border-radius: 72px;
  background: #EF3959;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4);
          box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4);
}

.info-cover {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 448px;
          flex: 0 1 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.info-cover__text {
  font-family: Roboto;
  font-size: 24px;
}
.bubbles {
  height: 100%;
  min-height: 334px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.bubbles__item {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.block-bubbles__item {
  border-radius: 50%;
}
.block-bubbles__item div {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.block-bubbles__item--medium {
  width: 192px;
  height: 192px;
}
.block-bubbles__item--small {
  width: 160px;
  height: 160px;
}
.block-bubbles__label {
  white-space: nowrap;
  color: #4A86FF;
  font-weight: 700;
  text-align: center;
}

.item-bubble--big1 {
  top: -20%;
  right: 29%;
  width: 256px;
  height: 256px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.item-bubble--big1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.5px solid #EF3959;
  -webkit-box-shadow: 2px 2px 15px #EF3959;
          box-shadow: 2px 2px 15px #EF3959;
  -webkit-filter: drop-shadow(2px 2px 15px #EF3959);
          filter: drop-shadow(2px 2px 15px #EF3959);
  opacity: 0.4;
}
.item-bubble--big1 h2 {
  color: #0D224E;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 2px;
}
.item-bubble--big1 span {
  font-size: 30px;
  color: #EF3959;
}

.item-bubble--big2 {
  top: 23%;
  right: 0%;
  z-index: -2;
  width: 256px;
  height: 256px;
  border: 1px solid #EF3959;
  background: rgba(196, 196, 196, 0);
}
.item-bubble--big2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.item-bubble--big2 div span {
  font-weight: 400;
}
.item-bubble--big2 div h3 {
  font-size: 30px;
  color: #0D224E;
}

.item-bubble--medium {
  bottom: -31%;
  right: 33%;
  background: rgba(255, 255, 255, 0.4);
}
.item-bubble--medium::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5px solid #A4C2FF;
  -webkit-box-shadow: 2px 2px 15px #A4C2FF;
          box-shadow: 2px 2px 15px #A4C2FF;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.item-bubble--small {
  top: 47%;
  left: 0%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
}
.item-bubble--small::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
          box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
}
.item-bubble--small h4 {
  font-size: 30px;
  margin-bottom: 5px;
}
.item-bubble--small span {
  color: #EF3959;
}

.label {
  position: absolute;
  top: -12%;
  right: 0;
  background: #4A86FF;
  width: 96px;
  height: 122px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  border-radius: 8px;
}
.label__text {
  color: #FFF;
}
.label__price {
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
}

.apps {
  padding-bottom: 131px;
}
.apps__box {
  z-index: 5;
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  height: 184px;
  border-radius: 32px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right bottom, from(#4A86FF), color-stop(transparent), to(#EF3959)) repeat;
  background: linear-gradient(to right bottom, #4A86FF, transparent, #EF3959) repeat;
  border: 3px solid transparent;
  background-size: 200% 200%;
  background-position: 5% 5%;
  -webkit-animation: gradientBorder 10s linear infinite;
          animation: gradientBorder 10s linear infinite;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  text-align: center;
}
.apps__content {
  position: absolute;
  z-index: 5;
  inset: 3px;
  padding: 33px 144px;
  background: #FFF;
  border-radius: 28px;
}
.apps__content::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 28px;
  background: -webkit-gradient(linear, left top, right top, from(#F0F2ff), color-stop(#f3f3fd), color-stop(transparent), color-stop(#FBE4EA), to(#fad1db));
  background: linear-gradient(to right, #F0F2ff, #f3f3fd, transparent, #FBE4EA, #fad1db);
}
.apps__title {
  margin-bottom: 32px;
}
.apps__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.privacy {
  padding-bottom: 154px;
}
.privacy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.1rem;
}
.info-privacy {
  max-width: 544px;
}
.info-privacy__title {
  margin-bottom: 1.77rem;
}
.info-privacy__text:first-child {
  margin-bottom: 0;
}
.info-privacy__button {
  margin-top: 2.22rem;
}

.privacy-bubble__item--medium1 {
  top: 0;
  left: 20%;
  background: #A4C2FF;
  border: 1px solid #FFF;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
          filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
}
.privacy-bubble__item--medium1 div {
  color: #FFF;
}
.privacy-bubble__item--medium2 {
  top: 37%;
  left: -1%;
}
.privacy-bubble__item--medium2, .privacy-bubble__item--small1 {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #FFF;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
          filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.privacy-bubble__item--medium2 div, .privacy-bubble__item--small1 div {
  color: #4A86FF;
}
.privacy-bubble__item--small1 {
  top: 51%;
  right: 6%;
}
.privacy-bubble__item--small2 {
  bottom: -27%;
  left: 23%;
  background: #4A86FF;
  border: 1px solid #FFF;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
          filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
}
.privacy-bubble__item--small2 div {
  color: #FFF;
}

.try {
  padding: 128px 0 130px 0;
}
.content-try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 208px;
}
.content-try__info {
  max-width: 464px;
}
.content-try__title {
  margin-bottom: 32px;
}
.subscribe > *:not(:last-child) {
  margin-bottom: 40px;
}
.subscribe__label {
  font-size: 30px;
  color: #4A86FF;
  font-weight: 300;
}
.subscribe__input {
  color: #4A86FF;
  font-size: 28px;
  font-weight: 300;
  width: 352px;
  height: 36px;
  outline: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #A4C2FF;
}
.subscribe__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input::-moz-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input::placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.reviews {
  padding: 128px 0 128px 0;
}
.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 128px;
}
.reviews__info {
  max-width: 430px;
}
.reviews__title {
  margin-bottom: 56px;
}
.reviews__text {
  margin-bottom: 48px;
}
.slider-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slider-reviews__buttons {
  padding-left: 15px;
}
.slider-reviews__prev, .slider-reviews__next {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #FFF;
  -webkit-box-shadow: 2px 3px 15px #A4C2FF;
          box-shadow: 2px 3px 15px #A4C2FF;
}
.slider-reviews__prev {
  background: rgba(255, 255, 255, 0.4) url(/img/icons/arrow-left.svg) center no-repeat;
  margin-right: 32px;
}
.slider-reviews__next {
  background: rgba(255, 255, 255, 0.4) url(/img/icons/arrow-right.svg) 17px center no-repeat;
}
.slider-reviews__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slide-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide-review__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 88px 16px 0;
  border-left: 1px solid #4A86FF;
  color: #4A86FF;
  font-size: 24px;
  font-weight: 300;
}

.running {
  overflow: hidden;
  max-width: 100%;
  margin: 0px auto;
  padding-bottom: 128px;
  position: relative;
}
.running__black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  margin-bottom: 16px;
}
.running__black p {
  width: 100%;
  white-space: nowrap;
}
.running__red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
}
.running__red p {
  color: #EF3959;
  width: 100%;
  white-space: nowrap;
}

@-webkit-keyframes runningStroke {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-53%);
            transform: translateX(-53%);
  }
}

@keyframes runningStroke {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-53%);
            transform: translateX(-53%);
  }
}