@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1182px) {
  .container {
    max-width: 1000px;
  }
}

html, body {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #0D224E;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bgr::before {
  content: "";
  z-index: -100;
  position: absolute;
  left: -7.91%;
  top: 3.86%;
  border-radius: 100% 124.8%;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  width: 53.47%;
  padding-top: 42.84%;
}
.bgr::after {
  content: "";
  position: absolute;
  z-index: -100;
  right: -30%;
  top: 10.87%;
  width: 69.4%;
  padding-top: 64.37%;
  border-radius: 100% 107.87%;
  background: rgba(239, 57, 89, 0.4);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.bgr2::before {
  content: "";
  position: absolute;
  z-index: -100;
  width: 27.7%;
  padding-top: 27.7%;
  top: 30.45%;
  left: -10%;
  border-radius: 50%;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}
.bgr2::after {
  content: "";
  position: absolute;
  z-index: -100;
  width: 55.5%;
  padding-top: 55.5%;
  top: 41.27%;
  right: -25%;
  border-radius: 50%;
  background: rgba(74, 134, 255, 0.3);
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.bgr3::before {
  content: "";
  position: absolute;
  z-index: -100;
  width: 20.83%;
  padding-top: 20.83%;
  top: 49.97%;
  left: -8%;
  border-radius: 50%;
  background: rgba(239, 57, 89, 0.8);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}
.bgr3::after {
  content: "";
  position: absolute;
  z-index: -100;
  width: 29.3%;
  padding-top: 28.33%;
  top: 77.28%;
  right: -3%;
  border-radius: 100% 103.43%;
  background: rgba(239, 57, 89, 0.8);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.bgr4::before {
  content: "";
  position: absolute;
  z-index: -100;
  width: 24.65%;
  padding-top: 23.4%;
  top: 83.62%;
  right: 12%;
  border-radius: 100% 105.34%;
  background: #A4C2FF;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}
.bgr4::after {
  content: "";
  position: absolute;
  z-index: -100;
  width: 73.96%;
  padding-top: 67.84%;
  top: 58%;
  left: -6%;
  border-radius: 100% 109%;
  background: rgba(74, 134, 255, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.bgr5::before {
  content: "";
  position: absolute;
  z-index: -100;
  width: 60.55%;
  padding-top: 48.89%;
  top: 59%;
  right: -1.5%;
  border-radius: 100% 123.86%;
  background: rgba(239, 57, 89, 0.4);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}
.bgr5::after {
  content: "";
  position: absolute;
  z-index: -100;
  width: 41.18%;
  padding-top: 35.55%;
  top: 92.52%;
  left: -15%;
  border-radius: 100% 115.82%;
  background: rgba(74, 134, 255, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.bgr6::before {
  content: "";
  position: absolute;
  z-index: -100;
  width: 25.49%;
  padding-top: 26.39%;
  top: 68.42%;
  right: 0%;
  background: #BCACDF;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header_scrolled {
  background: rgba(74, 134, 255, 0.05);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 20px 24px 13px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo h1 {
  color: #0D224E;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.menu__link {
  color: #0D224E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
}
.menu__link:hover {
  opacity: 0.7;
}

.cover {
  position: relative;
  overflow: hidden;
  padding: 273px 0 155px 0;
}
.cover__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7rem;
}
.block__title {
  font-size: 48px;
  line-height: 1.21;
  font-weight: 500;
}
.block__text {
  font-size: 18px;
}
.block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  padding: 5px;
  width: 156px;
  color: #FFF;
  border-radius: 72px;
  background: #EF3959;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4);
          box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4);
}

.info-cover {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 448px;
          flex: 0 1 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.info-cover__text {
  font-family: Roboto;
  font-size: 24px;
}
.bubbles {
  height: 100%;
  min-height: 334px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.bubbles__item {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.block-bubbles__item {
  border-radius: 50%;
}
.block-bubbles__item div {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.block-bubbles__item--medium {
  width: 192px;
  height: 192px;
}
.block-bubbles__item--small {
  width: 160px;
  height: 160px;
}
.block-bubbles__label {
  white-space: nowrap;
  color: #4A86FF;
  font-weight: 700;
  text-align: center;
}

.item-bubble--big1 {
  top: -20%;
  right: 29%;
  width: 256px;
  height: 256px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.item-bubble--big1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.5px solid #EF3959;
  -webkit-box-shadow: 2px 2px 15px #EF3959;
          box-shadow: 2px 2px 15px #EF3959;
  -webkit-filter: drop-shadow(2px 2px 15px #EF3959);
          filter: drop-shadow(2px 2px 15px #EF3959);
  opacity: 0.4;
}
.item-bubble--big1 h2 {
  color: #0D224E;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 2px;
}
.item-bubble--big1 span {
  font-size: 30px;
  color: #EF3959;
}

.item-bubble--big2 {
  top: 23%;
  right: 0%;
  z-index: -2;
  width: 256px;
  height: 256px;
  border: 1px solid #EF3959;
  background: rgba(196, 196, 196, 0);
}
.item-bubble--big2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.item-bubble--big2 div span {
  font-weight: 400;
}
.item-bubble--big2 div h3 {
  font-size: 30px;
  color: #0D224E;
}

.item-bubble--medium {
  bottom: -31%;
  right: 33%;
  background: rgba(255, 255, 255, 0.4);
}
.item-bubble--medium::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5px solid #A4C2FF;
  -webkit-box-shadow: 2px 2px 15px #A4C2FF;
          box-shadow: 2px 2px 15px #A4C2FF;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.item-bubble--small {
  top: 47%;
  left: 0%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
}
.item-bubble--small::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
          box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.3);
}
.item-bubble--small h4 {
  font-size: 30px;
  margin-bottom: 5px;
}
.item-bubble--small span {
  color: #EF3959;
}

.label {
  position: absolute;
  top: -12%;
  right: 0;
  background: #4A86FF;
  width: 96px;
  height: 122px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  border-radius: 8px;
}
.label__text {
  color: #FFF;
}
.label__price {
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
}

.apps {
  padding-bottom: 131px;
}
.apps__box {
  z-index: 5;
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  height: 184px;
  border-radius: 32px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right bottom, from(#4A86FF), color-stop(transparent), to(#EF3959)) repeat;
  background: linear-gradient(to right bottom, #4A86FF, transparent, #EF3959) repeat;
  border: 3px solid transparent;
  background-size: 200% 200%;
  background-position: 5% 5%;
  -webkit-animation: gradientBorder 10s linear infinite;
          animation: gradientBorder 10s linear infinite;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  text-align: center;
}
.apps__content {
  position: absolute;
  z-index: 5;
  inset: 3px;
  padding: 33px 144px;
  background: #FFF;
  border-radius: 28px;
}
.apps__content::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 28px;
  background: -webkit-gradient(linear, left top, right top, from(#F0F2ff), color-stop(#f3f3fd), color-stop(transparent), color-stop(#FBE4EA), to(#fad1db));
  background: linear-gradient(to right, #F0F2ff, #f3f3fd, transparent, #FBE4EA, #fad1db);
}
.apps__title {
  margin-bottom: 32px;
}
.apps__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.privacy {
  padding-bottom: 137px;
}
.privacy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.1rem;
}
.info-privacy {
  max-width: 544px;
}
.info-privacy__title {
  margin-bottom: 1.77rem;
}
.info-privacy__text p:first-child {
  margin-bottom: 14px;
}
.info-privacy__text p:nth-child(2) {
  margin-bottom: 9px;
}
.info-privacy__button {
  margin-top: 2.22rem;
}

.privacy-bubble__item--medium1 {
  top: 0;
  left: 20%;
  background: #A4C2FF;
  border: 1px solid #FFF;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
          filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
}
.privacy-bubble__item--medium1 div {
  color: #FFF;
}
.privacy-bubble__item--medium2 {
  top: 37%;
  left: -1%;
}
.privacy-bubble__item--medium2, .privacy-bubble__item--small1 {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #FFF;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
          filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.privacy-bubble__item--medium2 div, .privacy-bubble__item--small1 div {
  color: #4A86FF;
}
.privacy-bubble__item--small1 {
  top: 51%;
  right: 6%;
}
.privacy-bubble__item--small2 {
  bottom: -27%;
  left: 23%;
  background: #4A86FF;
  border: 1px solid #FFF;
  -webkit-filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
          filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.3));
}
.privacy-bubble__item--small2 div {
  color: #FFF;
}

.try {
  padding: 145px 0 140px 0;
}
.content-try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 208px;
}
.content-try__info {
  max-width: 464px;
}
.content-try__title {
  margin-bottom: 32px;
}
.subscribe > *:not(:last-child) {
  margin-bottom: 40px;
}
.subscribe__label {
  font-size: 30px;
  color: #4A86FF;
  font-weight: 300;
}
.subscribe__input {
  color: #4A86FF;
  font-size: 28px;
  font-weight: 300;
  width: 352px;
  height: 36px;
  outline: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #A4C2FF;
}
.subscribe__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input::-moz-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.subscribe__input::placeholder {
  font-weight: 300;
  font-size: 30px;
  color: #A4C2FF;
}
.reviews {
  padding: 130px 0 138px 0;
}
.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 135px;
}
.reviews__info {
  min-width: 448px;
}
.reviews__title {
  margin-bottom: 70px;
}
.reviews__text {
  margin-bottom: 38px;
}
.slider-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slider-reviews__buttons {
  padding-left: 15px;
}
.slider-reviews__prev, .slider-reviews__next {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slider-reviews__prev:hover, .slider-reviews__next:hover {
  -webkit-box-shadow: 2px 3px 15px #A4C2FF;
          box-shadow: 2px 3px 15px #A4C2FF;
}
.slider-reviews__prev {
  background: rgba(255, 255, 255, 0.4) url(/img/icons/arrow-left.svg) center no-repeat;
  margin-right: 32px;
}
.slider-reviews__next {
  background: rgba(255, 255, 255, 0.4) url(/img/icons/arrow-right.svg) 17px center no-repeat;
}
.slider-reviews__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slide-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide-review__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 88px 16px 0;
  border-left: 1px solid #4A86FF;
  color: #4A86FF;
  font-size: 24px;
  font-weight: 300;
}

.running {
  overflow: hidden;
  max-width: 100%;
  margin: 0px auto;
  padding-bottom: 145px;
  position: relative;
}
.running__black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  margin-bottom: 16px;
}
.running__black p {
  width: 100%;
  white-space: nowrap;
}
.running__red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
}
.running__red p {
  color: #EF3959;
  width: 100%;
  white-space: nowrap;
}

@-webkit-keyframes runningStroke {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-53%);
            transform: translateX(-53%);
  }
}

@keyframes runningStroke {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-53%);
            transform: translateX(-53%);
  }
}
.plan {
  padding-bottom: 260px;
}
.plan__title {
  margin-bottom: 110px;
}
.cards-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
}
.item-plan {
  border-radius: 8px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.2);
  padding: 16px 24px 12px;
}
.item-plan__content {
  text-align: center;
  color: #FFF;
  font-weight: 700;
}
.item-plan__label {
  margin-bottom: 27px;
}
.item-plan__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7px;
  gap: 8px;
}
.item-plan__price span {
  font-size: 64px;
}
.item-plan__discount {
  font-size: 14px;
  font-weight: 600;
  text-decoration: line-through;
  margin-bottom: 27px;
}
.item-plan__button {
  color: #EF3959;
  font-weight: 400;
  border-radius: 72px;
  border: 1px solid #EF3959;
  background: rgba(239, 57, 89, 0);
  padding: 5px 38px;
  height: 54px;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-plan__button:hover {
  background: rgba(255, 255, 255, 0.4);
}
.item-plan__quote {
  font-weight: 400;
  font-size: 14px;
}

.item-plan--2 {
  position: relative;
}
.item-plan--2__dialogue {
  position: absolute;
  width: 95px;
  height: 33px;
  border-radius: 16px;
  padding: 8px 16px;
  background: #EF3959;
  top: -14%;
  right: -3%;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
}
.item-plan--2__dialogue::before {
  content: "";
  position: absolute;
  width: 28.26px;
  height: 28.27px;
  bottom: -80%;
  right: 50%;
  background: url(..//img/Polygon\ 1.svg) no-repeat;
}

.faq {
  padding-bottom: 365px;
}
.faq__content {
  background: url(/img/button\ \(1\).svg) 100% 150px no-repeat, url(/img/button.svg) 80% 300px no-repeat;
}
.info-faq {
  max-width: 656px;
}
.info-faq__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 38px;
}
.accordeon {
  border-bottom: 1px solid #A4C2FF;
  padding: 0px 20px 4px 0;
  margin-bottom: 24px;
}
.accordeon__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accordeon__question p {
  font-size: 30px;
  font-weight: 300;
}
.accordeon__answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  line-height: 1.6;
}
.accordeon__answer p {
  padding: 1rem 0;
}
.accordeon svg {
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}
.accordeon.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordeon.active .accordeon__answer {
  max-height: 300px;
  overflow: auto;
  -webkit-transition: max-height 0.8s ease;
  transition: max-height 0.8s ease;
}

.bubbles-info {
  position: sticky;
  top: 0;
}
.bubbles-info__item--small1 {
  position: absolute;
  -webkit-transform: translate(600%, -200%);
          transform: translate(600%, -200%);
  background: #EF3959;
  border: 1px solid #FFF;
}
.bubbles-info__item--small1 div {
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
}
.bubbles-info__item--small2 {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #FFF;
}
.bubbles-info__item--small2 div {
  color: #0D224E;
  font-size: 30px;
  font-weight: 300;
}

.content-footer {
  text-align: center;
}
.content-footer__copy {
  margin-bottom: 26px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
}

.logo-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.logo-footer__link img {
  margin-right: 10px;
}
.logo-footer__link span {
  color: #0D224E;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.footer-menu {
  margin-bottom: 26px;
}
.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.footer-menu__link {
  font-weight: 500;
  font-size: 16px;
  color: #0D224E;
}
.footer-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}