@import "nullstyle.scss";

//ШРИФТЫ===========================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
//ШРИФТ ПО УМОЛЧАНИЮ===============================
$fontfamily:"Inter";
$maincolor: #0D224E;
//Переменные=======================================
$minwidth: 320px;
$mv: 1170px;
$md1: $mv+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
//Основная сетка=====(ОСТОРОЖНЕЕ С WIDTH 100%)=========
.container {
	max-width: $mv;
	margin: 0 auto;
	padding: 0 10px;
	// width: 100%;
	@media (max-width:$md1) {max-width: 1000px;}
	// @media (max-width:$md2+px) {max-width: 750px;}
	// @media (max-width:$md3+px) {max-width: none;padding: 0 10px;}
}
html, body{
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	color: #0D224E;
	height: 100%;
	
}

//КОНТЕЙНЕРЫ=========================================
.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

//для бугрера
// body._lock {
// 	overflow: hidden;
// }
//!ТЭГИ===============================================

.bgr {
		//ellipse 4
	&::before {
		content: '';
		z-index: -100;
		position: absolute;
		left: -7.91%;
		top: 3.86%;
		border-radius: 100% 124.8%;
		background: rgba(74, 134, 255, 0.30);
		filter: blur(250px);
		width: 53.47%;
		padding-top: 42.84%;
	}

	//ellipse 3
	&::after {
		content: '';
		position: absolute;
		z-index: -100;
		right: -30%;
		top: 10.87%;
		width: 69.4%;
		padding-top: 64.37%;
		border-radius: 100% 107.87%;
		background: rgba(239, 57, 89, 0.40);
		filter: blur(250px);
	}
}

.bgr2 {

	//ellipse 9
	&::before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 27.7%;
		padding-top: 27.7%;
		top: 30.45%;
		left: -10%;
		border-radius: 50%;
		background: rgba(74, 134, 255, 0.3);
		filter: blur(250px);
	}

	//ellipse5
	&::after {
		content: '';
		position: absolute;
		z-index: -100;
		width: 55.5%;
		padding-top: 55.5%;
		top: 41.27%;
		right: -25%;
		border-radius: 50%;
		background: rgba(74, 134, 255, 0.30);
		filter: blur(200px);
	}
}

.bgr3 {

	//ellipse 6
	&::before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 20.83%;
		padding-top: 20.83%;
		top: 49.97%;
		left: -8%;
		border-radius: 50%;
		background: rgba(239, 57, 89, 0.80);
		filter: blur(150px);
	}

	//ellipse 7
	&::after {
		content: '';
		position: absolute;
		z-index: -100;
		width: 29.30%;
		padding-top: 28.33%;
		top: 77.28%;
		right: -3%;
		border-radius: 100% 103.43%;
		background: rgba(239, 57, 89, 0.80);
		filter: blur(150px);
	}
}

.bgr4 {

	//ellipse8
	&::before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 24.65%;
		padding-top: 23.40%;
		top: 83.62%;
		right: 12%;
		border-radius: 100% 105.34%;
		background: #A4C2FF;
		filter: blur(100px);
	}

	//ellipse10
	&::after {
		content: '';
		position: absolute;
		z-index: -100;
		width: 73.96%;
		padding-top: 67.84%;
		top: 58%;
		left: -6%;
		border-radius: 100% 109%;
		background: rgba(74, 134, 255, 0.50);
		filter: blur(150px);
	}
}
.bgr5 {

	//ellipse11
	&::before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 60.55%;
		padding-top: 48.89%;
		top: 59%;
		right: -1.5%;
		border-radius: 100% 123.86%;
		background: rgba(239, 57, 89, 0.40);
		filter: blur(150px);
	}

	//ellipse12
	&::after {
		content: '';
		position: absolute;
		z-index: -100;
		width: 41.18%;
		padding-top: 35.55%;
		top: 92.52%;
		left: -15%;
		border-radius: 100% 115.82%;
		background: rgba(74, 134, 255, 0.50);
		filter: blur(150px);
	}
}

.bgr6 {

	//rectangle55
	&::before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 25.49%;
		padding-top: 26.39%;
		top: 68.42%;
		right: 0%;
		background: #BCACDF;
		filter: blur(150px);
	}
}

.main {
	flex: 1 0 auto;
	&__cover {}
	&__apps {}
	&__privacy {}
	&__try {}
	&__reviews {}
	&__running {}
	&__plan {}
	&__faq {}
}
//!============================================================================//
.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	// margin-top: 2rem;
	// height: 100%;
	top: 0;
	transition: all 0.3s ease 0s;
	&_scrolled{
		background: rgba(74, 134, 255, 0.05);
		backdrop-filter: blur(15px);
	}
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 20px 24px 13px;
	}

	&__logo {
		display: flex;
		align-items: center;
		h1{
			color: #0D224E;
			text-align: center;
			font-size: 30px;
			font-weight: 500;
		}
	}

	&__menu {}
}


.menu {

	&__icon {}

	&__body {
	}

	&__list {
		display: flex;
		gap: 24px;
	}

	&__link {
		color: #0D224E;
		transition: all 0.3s ease 0s;
		opacity: 1;
		&:hover{
			opacity: 0.7;
		}
	}
}

//!=COVER===========================================================================//

.cover {
	position: relative;
	// min-height: 100vh;
	overflow: hidden;
	padding: 273px 0 155px 0;

	&__content {
		// min-height: 100vh;
		display: flex;
		align-items: center;
		gap: 7rem;
	}

	&__info {}
	&__bubbles {}
	&__label {}
}

.block {

	&__info {}

	&__title {
		font-size: 48px;
		line-height: 1.21;
		font-weight: 500;
	}

	&__text {
		font-size: 18px;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 54px;
		padding: 5px;
		width: 156px;
		color: #FFF;
		border-radius: 72px;
		background: #EF3959;
		box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.40);
	}

}

.info-cover{
	flex: 0 1 448px;
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	&__title {
	}

	&__text {
		font-family: Roboto;
		font-size: 24px;
	}

	&__button {
	}
}


.bubbles {
	height: 100%;
	
	min-height: 334px;
	flex: 1 1 auto;
	position: relative;
	&__item {
		position: absolute;
		transition: all 0.3s ease 0s;
	}
	&__label{}
}

.block-bubbles {

	&__item {
		border-radius: 50%;
		div{
			z-index: 5;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
	}

	&__item--medium {
		width: 192px;
		height: 192px;
	}

	&__item--small {
		width: 160px;
		height: 160px;
	}

	&__label {
		white-space: nowrap;
		color: #4A86FF;
		font-weight: 700;
		text-align: center;
	}
}


.item-bubble--big1 {
	top: -20%;
	right: 29%;
	// transform: translate(50%, -30%);
	width: 256px;
	height: 256px;
	background: rgba(255, 255, 255, 0.40);
	backdrop-filter: blur(4.5px);
	&::before{
	content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 0.5px solid #EF3959;
		box-shadow: 2px 2px 15px #EF3959;
		filter: drop-shadow(2px 2px 15px #EF3959);
		opacity: 0.4;
	}
	h2 {
			color: #0D224E;
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 2px;
		}
		span{
			font-size: 30px;
			color: #EF3959;
		}
	
}
.item-bubble--big2 {
	top: 23%;
	right: 0%;
	z-index: -2;
	width: 256px;
	height: 256px;
	border: 1px solid #EF3959;
	background: rgba(196, 196, 196, 0.00);
	div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
	span{
		font-weight: 400;
	}
	h3{
		font-size: 30px;
		color: #0D224E;
		}
	}
}

.item-bubble--medium {
	// transform: translate(70%, 100%);
	bottom: -31%;
	right: 33%;
	// position: relative;
		background: rgba(255, 255, 255, 0.4);
		&::before {
			content: '';
			border-radius: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			border: 0.5px solid #A4C2FF;
			box-shadow: 2px 2px 15px #A4C2FF;
			backdrop-filter: blur(7.5px);
		}
}

.item-bubble--small {
	// transform: translate(-50%, 70%);
	top: 47%;
	left: 0%;
	background: rgba(255, 255, 255, 0.40);
	border: 1px solid #fff;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-shadow: -5px 7px 20px rgba(74, 134, 255, 0.30);
	}
	h4{
		font-size: 30px;
		margin-bottom: 5px;
	}
	span{
		color: #EF3959;
	}
}

.label {
	position: absolute;
	top: -12%;
	right: 0;
	background: #4A86FF;
	width: 96px;
	height: 122px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
	border-radius: 8px;

	&__text {
		color: #FFF;
	}

	&__price {
		font-size: 30px;
		font-weight: 700;
		color: #FFF;
	}
}

//!===APPS=========================================================================//
// @keyframes gradientBorder {
// 	0%{
// 		background-position: 5% 5%;
// 	}
// 	50% {
// 		background-position: 95% 95%;
// 	}
// 	100%{
// 		background-position: 5% 5%;
// 	}
// }

.apps {
	padding-bottom: 131px;

	&__box {
		z-index: 5;
		position: relative;
		max-width: 760px;
		margin: 0 auto;
		height: 184px;
		border-radius: 32px;
		overflow: hidden;
		background: linear-gradient(to right bottom, #4A86FF, transparent, #EF3959) repeat;
		border: 3px solid transparent;
		background-size: 200% 200%;
		background-position: 5% 5%;
		animation: gradientBorder 10s linear infinite;
		transition: all 0.8s ease 0s;
		text-align: center;

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	width: 370px;
		// 	height: 370px;
		// 	top: -150%;
		// 	left: 0%;
		// 	background: linear-gradient(0deg, transparent, transparent, #4A86FF, #4A86FF, #4A86FF);
		// 	z-index: 1;
		// 	transform-origin: bottom right;
		// 	animation: animate 10s linear infinite;
		// }

		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	width: 370px;
		// 	height: 370px;
		// 	top: -150%;
		// 	left: 0%;
		// 	background: linear-gradient(0deg, transparent, transparent, #4A86FF, #4A86FF, #4A86FF);
		// 	z-index: 1;
		// 	transform-origin: bottom right;
		// 	animation: animate 10s linear infinite;
		// 	animation-delay: -3s;
		// }
	}

 &__content{
	position: absolute;
	z-index: 5;
	inset: 3px;
	padding: 33px 144px;
	background: #FFF;
	border-radius: 28px;
	&::before{
	content: '';
		position: absolute;
		z-index: -10;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 28px;
		background: linear-gradient(to right, #F0F2ff,#f3f3fd,transparent, #FBE4EA, #fad1db);
	}
 }
	&__title {
		margin-bottom: 32px;
	}

	&__logos {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
	}
}

//!===PRIVACY=========================================================================//

.privacy {
	padding-bottom: 137px;

	&__content {
		display: flex;
		gap: 7.1rem;
	}

	&__info {}

	&__bubbles {}
}


.info-privacy {
	max-width: 544px;

	&__title {
		margin-bottom: 1.77rem;
	}

	&__text p {
		&:first-child{
			margin-bottom: 14px;
		}
		&:nth-child(2){
			margin-bottom: 9px;
		}
	}

	&__button {
		margin-top: 2.22rem;
	}
}



.privacy-bubble {

	&__item--medium1 {
		top: 0;
		left: 20%;
		background: #A4C2FF;
		border: 1px solid #FFF;
		filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.30));
		div{
			color: #FFF;
		}
	}
&__item--medium2{
		top: 37%;
		left: -1%;
}

	&__item--medium2,
	&__item--small1 {
		background: rgba(255, 255, 255, 0.40);
		border: 1px solid #FFF;
		filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.30));
		backdrop-filter: blur(7.5px);
		div{
			color: #4A86FF;
		}
	}
	&__item--small1 {
		top: 51%;
		right: 6%;
	}
	&__item--small2 {
		bottom: -27%;
		left: 23%;
		background: #4A86FF;
		border: 1px solid #FFF;
		filter: drop-shadow(10px 10px 20px rgba(74, 134, 255, 0.30));
		div{
			color: #FFF;
		}
	}
}
//!===TRY=========================================================================//

.try {
	padding: 145px 0 140px 0;
	&__content {}
}


.content-try {
	display: flex;
	align-items: start;
	gap: 208px;

	&__info {
		max-width: 464px;
	}

	&__title {
		margin-bottom: 32px;
	}

	&__text {}

	&__subscribe {}
}


.subscribe {
	>*:not(:last-child) {
		margin-bottom: 40px;
	}

	&__label {
		font-size: 30px;
		color: #4A86FF;
		font-weight: 300;
	}

	&__input {
		color: #4A86FF;
		font-size: 28px;
		font-weight: 300;
		width: 352px;
		height: 36px;
		outline: none;
		border: none;
		background: transparent;
		box-shadow: none;
		border-bottom: 1px solid #A4C2FF;
		&::placeholder{
			font-weight: 300;
			font-size: 30px;
			color: #A4C2FF;

		}
	}

	&__button {}
}
//!===REVIEWS=========================================================================//

.reviews {
padding: 130px 0 138px 0;


	&__content {
		display: flex;
		align-items: stretch;
		gap: 135px;
	}

	&__info {
		min-width: 448px;

	}

	&__title {
		margin-bottom: 70px;
	}

	&__text {
		margin-bottom: 38px;
	}

	&__slider {}
}


.slider-reviews {
	display: flex;
	align-items: stretch;
	&__buttons {
		padding-left: 15px;
	}

	&__prev, 
	&__next {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		border: 1px solid #FFF;
		transition: all 0.3s ease 0s;
		&:hover{
			box-shadow: 2px 3px 15px #A4C2FF;
		}
	}
	&__prev{
		background: rgba(255, 255, 255, 0.40) url(/img/icons/arrow-left.svg) center no-repeat;
		margin-right: 32px;
	}
	&__next {
		background: rgba(255, 255, 255, 0.40) url(/img/icons/arrow-right.svg) 17px center no-repeat;
	}

	&__line {
		display: flex;
		align-items: stretch;
	}

	&__slide {}
}

.slide-review {
	display: flex;
	&__item {
		flex: 0 1 50%;
		padding: 88px 16px 0;
		border-left: 1px solid #4A86FF;
		color: #4A86FF;
		font-size: 24px;
		font-weight: 300;
	}
}
//!==RUNNING==========================================================================//


.running {
	overflow: hidden;
	max-width: 100%;
	margin: 0px auto;
	padding-bottom: 145px;
	position: relative;
	&__black{
			display: flex;
			width: 200%;
			// animation: runningStroke 10s linear infinite;
		margin-bottom: 16px;
		p{
			width: 100%;
			white-space: nowrap;
		}
	}

	&__red {
		display: flex;
		width: 200%;
		// animation: runningStroke 10s linear infinite -1s;
		p{
		color: #EF3959;
		width: 100%;
		white-space: nowrap;
		}
	}
}
@keyframes runningStroke {
	0% {
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-53%);
	}
}


//!==PLAN==========================================================================//

.plan {
	padding-bottom: 260px;
	&__content {}

	&__title {
		margin-bottom: 110px;
	}

	&__cards {}
}


.cards-plan {
	display: flex;
	justify-content: center;
	gap: 56px;
	&__item {
	}
}

.item-plan {
	border-radius: 8px;
	border: 1px solid #FFF;
	background: rgba(255, 255, 255, 0.20);
	padding: 16px 24px 12px;

	&__content {
		text-align: center;
		color: #FFF;
		font-weight: 700;
	}

	&__label {
		margin-bottom: 27px;
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 7px;
		gap: 8px;
		span{
			font-size: 64px;
		}
	}

	&__discount {
		font-size: 14px;
		font-weight: 600;
		text-decoration: line-through;
		margin-bottom: 27px;
	}

	&__button {
		color: #EF3959;
		font-weight: 400;
		border-radius: 72px;
		border: 1px solid #EF3959;
		background: rgba(239, 57, 89, 0.00);
		padding: 5px 38px;
		height: 54px;
		margin-bottom: 24px;
		transition: all 0.3s ease 0s;
		&:hover{
			background: rgba(255, 255, 255, 0.40);
		}
	}

	&__quote {
		font-weight: 400;
		font-size: 14px;
	}
}

.item-plan--2{
	position: relative;
&__dialogue {
	position: absolute;
	width: 95px;
	height: 33px;
	border-radius: 16px;
	padding: 8px 16px;
	background: #EF3959;
	top: -14%;
	right: -3%;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	&::before{
	content: '';
position: absolute;
width: 28.26px;
height: 28.27px;
bottom: -80%;
right:50%;
background: url(..//img/Polygon\ 1.svg) no-repeat;
	}
}
}
//!==FAQ==========================================================================//

.faq {
	padding-bottom: 365px;

	&__content {
		background: url(/img/button\ \(1\).svg) 100% 150px no-repeat, url(/img/button.svg) 80% 300px no-repeat;
	}

	&__info {}

	&__bubbles {}
}

.info-faq {
	max-width: 656px;

	&__title {
		font-size: 48px;
		font-weight: 500;
		margin-bottom: 38px;
	}

	&__accordeon {}
}

.accordeon {
	border-bottom: 1px solid #A4C2FF;
	padding: 0px 20px 4px 0;
	margin-bottom: 24px;

	&__question {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: 30px;
			font-weight: 300;
		}
	}

	&__answer {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease;
		line-height: 1.6;

		p {
			padding: 1rem 0;
		}
	}

	svg {
		transition: all 0.5s ease-in 0s;
	}

	&.active {
		svg {
			transform: rotate(180deg);
		}
	}
}

.accordeon.active .accordeon__answer {
	max-height: 300px;
	overflow: auto;
	transition: max-height 0.8s ease;
}


.bubbles-info {
	position: sticky;
	top: 0;

	// flex: 0 0 40%;
	&__item--small1 {
		position: absolute;
		transform: translate(600%, -200%);
		// top: 50%;
		// left: 70%;
		background: #EF3959;
		border: 1px solid #FFF;

		div {
			color: #FFF;
			font-size: 30px;
			font-weight: 300;
		}
	}

	&__item--small2 {
		position: absolute;
		// transform: translate();
		// bottom: 0;
		// left: 10%;
		background: rgba(255, 255, 255, 0.40);
		border: 1px solid #FFF;

		div {
			color: #0D224E;
			font-size: 30px;
			font-weight: 300;
		}
	}
}

//!==VIDEO==========================================================================//

//!==FOOTER==========================================================================//
.footer {

	&__content {}
}

.content-footer {
	text-align: center;
	&__logo {}

	&__menu {}

	&__copy {
		margin-bottom: 26px;
		color: rgba(0, 0, 0, 0.60);
		font-size: 12px;
		font-weight: 400;
	}
}

.logo-footer {
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
		img{
			margin-right: 10px;
		}
		span {
			color: #0D224E;
			text-align: center;
			font-size: 30px;
			font-weight: 500;
		}
	}
}
.footer-menu {
	margin-bottom: 26px;
	&__list {
		display: flex;
		justify-content: center;
		gap: 16px;
	}

	&__link {
		font-weight: 500;
		font-size: 16px;color: #0D224E;
		&:hover{
			color: rgba(0, 0, 0, 0.60);
		}
	}
}
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
